.show-more.mob{
    background:#000 !important;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}

.overlay .pop-up form .radio-item input[type="radio"].radio-styled + label:after{
    /*border:1px solid #000 !important;*/
    /*filter: progid:DXImageTransform.Microsoft.Alpha(opacity=72);*/
    /*-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=72);*/
}

.overlay .pop-up form .radio-item input[type="radio"].radio-styled:checked + label:after {
    background-color: #000 !important;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=72) !important;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=72) !important;
}
.item-container .item-link .show-more{
    top: 132px !important;
    left: 55px !important;
}
.forSales {
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/forSales.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/forSales.png', sizingMethod='scale')";
}

#item701642853695 .product-view {
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/popup1.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/popup1.png', sizingMethod='scale')";
}


#item701642853696 .product-view{
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/product2.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/product2.png', sizingMethod='scale')";
}

#item701642853697 .product-view{
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/product3.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/product3.png', sizingMethod='scale')";
}

#item701642853698 .product-view{
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/product4.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/product4.png', sizingMethod='scale')";
}
#item701642853699 .product-view{
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/product5.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/product5.png', sizingMethod='scale')";
}

#item701642853700 .product-view{
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/product6.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/product6.png', sizingMethod='scale')";
}

.overlay{
    background:#373637 !important;
}

@media (max-width:1024px){
    .item-container .item-link .show-more{
        top: auto !important;
        left: 0 !important;
    }

    .overlay .pop-up{
        width: 100% !important;
    }
}