@import 'bourbon/app/assets/stylesheets/bourbon';
$body-bg: #f6f6f6;
$text-color: #282828;
$green-color:#8ae6cf;
$red-color: #ce2c52;
$gray-color: #2c303d;


@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}

body {
  background-color: $body-bg;
}
body.show-overlay {
  overflow: hidden;
  & .overlay.active{
    visibility: visible;
    opacity: 1;
  }
}


.wrapper{
  max-width: 835px;
  margin: 0 auto;
  padding-left: 20px;
  height: auto;
  min-height: 500px;
}

.desc {
  display: block !important;
}
.mob {
  display: none !important;
}

.clear{
  clear: both;
}

.forSales{
  display: none;
  font-size:18px;
  height: 175px;
  -webkit-background-size:cover !important;
  background-size:cover !important;
  background: url("../img/forSales.png") no-repeat top center;
  position: relative;
  p{
    color: pink;
    text-align: center;
    padding-top: 58px;
    font: 700 60px Tahoma;
    color: #eaf2f4;
    text-transform: uppercase;
    font-weight: 700;
  }
}

.container{
  font-family:'Open sans', sans-serif;
  font-size: 16px;
}
#masonry-container{
  margin-left: -20px;
}
.item-container {
  width: 265px;
  height: auto;
  float: left;
  margin: 0 10px;
  color: $gray-color;
    .item-link{
      height: 265px;
      position: relative;
      .show-more {
        font:700 18px 'Open sans', sans-serif;
        padding: 2px 0px;
        position: absolute;
        text-transform: uppercase;
        cursor: pointer;
        text-align: center;
        &.desc{
          opacity:0;
          visibility: hidden;
          @include transition(visibility 0s, opacity 0.3s linear);
          min-width: 144px;
          line-height: 24px !important;
          top:50%;
          left:50%;
          @include transform(translate(-50%, -50%));
          background-color: $green-color;
        }
        &.mob {
          visibility: visible !important;
          font:700 20px 'Open sans', sans-serif;
          background-color: rgba(0,0,0,0.5);
          bottom: 0;
          width: 265px;
          padding: 20px 5px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          & > span {
            color: $green-color;
            position: relative;
            z-index:1;
          }
        }

      }

      &:hover .show-more.desc{
        visibility: visible;
        opacity: 1;
      }
    }
    .item-label{
      color: $text-color;
      font:700 12px 'Oswald', sans-serif;;
      padding:16px 5px; //padding:1em 0.3125em;
      text-align: center;
      text-transform: uppercase;
    }

  .price{
    font:700 24px 'Open sans', sans-serif;
    .line-through span{
      text-decoration: line-through;
    }
    .fallen-price{
      color: $red-color;
    }
    &.desc{
      font:700 16px 'Open sans', sans-serif;
      min-height: 14px;
      right: 0;
      bottom: 20px;
      position: absolute;
      padding:0px 5px;
      background-color: $green-color;
    }
    &.mob{
      font:700 22px 'Open sans', sans-serif;
      display: block;
      margin: 0 auto;
    }
  }
}

.overlay {
  @include size(100%);
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  overflow: auto;
  @include transition(visibility 0s, opacity 0.3s linear);
  background: rgba(0, 0, 0, 0.5);
  .pop-up {
    background-color: #fff;
    position: relative;
    width:835px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    margin: 0 auto;
    top: 15%;
    height: auto;
    display: table;
    .price{
      margin-top: 13px;
    }
    .product-view{
      @include size(398px 420px);
      -webkit-background-size:cover !important;
      background-size:cover !important;
      float: left;
      position: relative;
      margin-right: 35px;
      .share{
        background: url("../img/sprite_buttons.png") no-repeat -220px -2px;
        position: absolute;
        left: 14px;
        top: 14px;
        cursor: pointer;
        @include size(27px);
        &.close{
          background-position: -174px -2px;
        }
      }
    }
    h1 {
      font:700 24px 'Oswald', sans-serif;
      color: $gray-color;
      text-transform: uppercase;
      line-height: 1;
    }
    .item-id {
      font:400 10px "Open Sans", sans-serif;
      color: $gray-color;
      margin-top: 13px;
    }
    .rating{
      margin: 21px 0 0 -2px;

    }
    .head-block, .main-info, .other-info, form{
      float: left;
      max-width: 355px;
    }
    .main-info{
      width: 100%;
    }
    .to-close{
      background:url('../img/sprite_buttons.png') no-repeat -113px center;
      position: absolute;
      right: 10px;
      top: 10px;
      border: 0;
      outline: 0;
      cursor: pointer;
      z-index: 2;
      @include size(42px);
    }
    .other-info {
      margin-top: 28px;
      h3{
        display: none;
        color: $text-color;
        font:700 18px'Open Sans', sans-serif;
        line-height: 16px;
      }
      p{
        color: $text-color;
        font:300 12px "OpenSans", sans-serif;
        line-height: 16px;
      }
    }
    form{
      position: absolute;
      bottom:20px;
      left: 457px;
      .input-container{
        display: table;
        margin-bottom: 19px;
      }
      .input-container > label{
        color: $gray-color;
        font:700 14px "OpenSans", sans-serif;
        text-transform: uppercase;
        display: table-cell;
        vertical-align: middle;
        padding-right: 17px;
      }
      .radio-container{
        display: table-cell;
      }
      .radio-item {
        position: relative;
        vertical-align: middle;
        margin-right: 5px;
        margin-bottom: 6px;
        display: inline-block;
        input[type="radio"].radio-styled {
          display: none;
          box-sizing: border-box;
          padding: 0;
          margin: 2px 0 0;
          line-height: normal;
        }
       input[type="radio"].radio-styled + label {
         padding-left: 0;
         @include size(40px);
         cursor: pointer;
         display: inline-block;
         margin-bottom: 0;
         @include border-radius(50%);
        }
        input[type="radio"]:checked   label{
          color: #fff !important;
        }
        input[type="radio"].radio-styled + label:after {
          content: " ";
          line-height: 40px !important;
          display: inline-block;
          text-transform: uppercase;
          text-align: center;
          left: 0;
          margin: 0;
          padding: 0;
          font:700 12px "Open Sans", sans-serif;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          position: absolute !important;
          @include border-radius(50%);
          @include size(42px);
          background: url(../img/sprite_buttons.png) -4px -5px no-repeat;
        }
        input[type="radio"].radio-styled:checked + label:after {
          background-color: rgba(0, 0, 0, 0.72);
          @include size(40px);
          background-image: none !important;
          color: #fff;
        }
        input[data-name='xs'] + label:after{
          content: 'xs' !important;
        }
        input[data-name='s'] + label:after{
          content: 's' !important;
        }
        input[data-name='m'] + label:after{
          content: 'm' !important;
        }
        input[data-name='l'] + label:after{
          content: 'l' !important;
        }
      }
      button{
        background-color: $green-color;
        color: $gray-color;
        font:700 14px "Open Sans", sans-serif;
        line-height: 31px;
        text-transform: uppercase;
        border:none;
        position: relative;
        @include size(214px 44px);
        cursor: pointer;
        &:after, &:before{
          position: absolute;
          content:'';
          @include size(29px 60px);
          background: url(../img/sprite_formbutton.png) 0 0 no-repeat;
        }
        &:after{
          background-position: -10px -18px;
          left: 0;
          top: -2px;
        }
        &:before{
          background-position: -47px -19px;
          right: 0px;
          top: -2px;
        }
       }
    }
  }
}

#item701642853695 .product-view{
  background: url('../img/popup1.png') no-repeat;
}
#item701642853696 .product-view{
  background: url('../img/product2.png') no-repeat;
}
#item701642853697 .product-view{
  background: url('../img/product3.png') no-repeat;
}
#item701642853698 .product-view{
  background: url('../img/product4.png') no-repeat;
}
#item701642853699 .product-view{
  background: url('../img/product5.png') no-repeat;
}
#item701642853700 .product-view{
  background: url('../img/product6.png') no-repeat;
}

.share-container{
  margin-top: 36px;
  position: relative;
  margin-left: -5px;
}

.jssocials-shares{
  margin-top: 0;
}

.jssocials-share{
  margin: 0 12px 7px 0!important;
  @include size(42px);
}

.jssocials-share-link, .jssocials-share-label{
  font-size: 0;
  line-height: 1 !important;
  text-align: center;
  vertical-align: top;
}

.jssocials-share-link, .share-container .youtube, .share-container .instagram{
  @include size(42px);
  background: url(../img/sprite_share.png) 0 0 no-repeat;
}
.share-container .youtube, .share-container .instagram{
  margin: 0 12px 7px 0;
}
.share-container .instagram{
  margin-right: 0 !important;
}
.share-container .youtube a, .share-container .instagram a{
  @include size(42px);
  float: left;
}

.jssocials-share-facebook .jssocials-share-link{
  background-position: 0 0;
}
.jssocials-share-twitter .jssocials-share-link{
  background-position: -57px 0;
}

.jssocials-share-pinterest .jssocials-share-link{
  background-position: -113px 0;
}

.share-container .youtube{
  background-position: -170px 0;
}
.share-container .instagram{
  background-position: -226px 0;
}

.share-container.small{
  display: none;
  margin-top: 42px !important;
}

.share-container.small .jssocials{
  width: auto;
  display: table;
  clear: none;
  float: left;
}

.share-container.small .youtube, .share-container.small .instagram{
  float: left;
}

.product-view .share-container{
  //display: none;
}