body {
  background-color: #f6f6f6;
}

body.show-overlay {
  overflow: hidden;
}

body.show-overlay .overlay.active {
  visibility: visible;
  opacity: 1;
}

.wrapper {
  max-width: 835px;
  margin: 0 auto;
  padding-left: 20px;
  height: auto;
  min-height: 500px;
}

.desc {
  display: block !important;
}

.mob {
  display: none !important;
}

.clear {
  clear: both;
}

.forSales {
  display: none;
  font-size: 18px;
  height: 175px;
  -webkit-background-size: cover !important;
  background-size: cover !important;
  background: url("../img/forSales.png") no-repeat top center;
  position: relative;
}

.forSales p {
  color: pink;
  text-align: center;
  padding-top: 58px;
  font: 700 60px Tahoma;
  color: #eaf2f4;
  text-transform: uppercase;
  font-weight: 700;
}

.container {
  font-family: 'Open sans', sans-serif;
  font-size: 16px;
}

#masonry-container {
  margin-left: -20px;
}

.item-container {
  width: 265px;
  height: auto;
  float: left;
  margin: 0 10px;
  color: #2c303d;
}

.item-container .item-link {
  height: 265px;
  position: relative;
}

.item-container .item-link .show-more {
  font: 700 18px 'Open sans', sans-serif;
  padding: 2px 0px;
  position: absolute;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
}

.item-container .item-link .show-more.desc {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.3s linear;
  -moz-transition: visibility 0s, opacity 0.3s linear;
  transition: visibility 0s, opacity 0.3s linear;
  min-width: 144px;
  line-height: 24px !important;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #8ae6cf;
}

.item-container .item-link .show-more.mob {
  visibility: visible !important;
  font: 700 20px 'Open sans', sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  width: 265px;
  padding: 20px 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.item-container .item-link .show-more.mob > span {
  color: #8ae6cf;
  position: relative;
  z-index: 1;
}

.item-container .item-link:hover .show-more.desc {
  visibility: visible;
  opacity: 1;
}

.item-container .item-label {
  color: #282828;
  font: 700 12px 'Oswald', sans-serif;
  padding: 16px 5px;
  text-align: center;
  text-transform: uppercase;
}

.item-container .price {
  font: 700 24px 'Open sans', sans-serif;
}

.item-container .price .line-through span {
  text-decoration: line-through;
}

.item-container .price .fallen-price {
  color: #ce2c52;
}

.item-container .price.desc {
  font: 700 16px 'Open sans', sans-serif;
  min-height: 14px;
  right: 0;
  bottom: 20px;
  position: absolute;
  padding: 0px 5px;
  background-color: #8ae6cf;
}

.item-container .price.mob {
  font: 700 22px 'Open sans', sans-serif;
  display: block;
  margin: 0 auto;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  overflow: auto;
  -webkit-transition: visibility 0s, opacity 0.3s linear;
  -moz-transition: visibility 0s, opacity 0.3s linear;
  transition: visibility 0s, opacity 0.3s linear;
  background: rgba(0, 0, 0, 0.5);
}

.overlay .pop-up {
  background-color: #fff;
  position: relative;
  width: 835px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  margin: 0 auto;
  top: 15%;
  height: auto;
  display: table;
}

.overlay .pop-up .price {
  margin-top: 13px;
}

.overlay .pop-up .product-view {
  height: 420px;
  width: 398px;
  -webkit-background-size: cover !important;
  background-size: cover !important;
  float: left;
  position: relative;
  margin-right: 35px;
}

.overlay .pop-up .product-view .share {
  background: url("../img/sprite_buttons.png") no-repeat -220px -2px;
  position: absolute;
  left: 14px;
  top: 14px;
  cursor: pointer;
  height: 27px;
  width: 27px;
}

.overlay .pop-up .product-view .share.close {
  background-position: -174px -2px;
}

.overlay .pop-up h1 {
  font: 700 24px 'Oswald', sans-serif;
  color: #2c303d;
  text-transform: uppercase;
  line-height: 1;
}

.overlay .pop-up .item-id {
  font: 400 10px "Open Sans", sans-serif;
  color: #2c303d;
  margin-top: 13px;
}

.overlay .pop-up .rating {
  margin: 21px 0 0 -2px;
}

.overlay .pop-up .head-block, .overlay .pop-up .main-info, .overlay .pop-up .other-info, .overlay .pop-up form {
  float: left;
  max-width: 355px;
}

.overlay .pop-up .main-info {
  width: 100%;
}

.overlay .pop-up .to-close {
  background: url("../img/sprite_buttons.png") no-repeat -113px center;
  position: absolute;
  right: 10px;
  top: 10px;
  border: 0;
  outline: 0;
  cursor: pointer;
  z-index: 2;
  height: 42px;
  width: 42px;
}

.overlay .pop-up .other-info {
  margin-top: 28px;
}

.overlay .pop-up .other-info h3 {
  display: none;
  color: #282828;
  font: 700 18px "Open Sans", sans-serif;
  line-height: 16px;
}

.overlay .pop-up .other-info p {
  color: #282828;
  font: 300 12px "OpenSans", sans-serif;
  line-height: 16px;
}

.overlay .pop-up form {
  position: absolute;
  bottom: 20px;
  left: 457px;
}

.overlay .pop-up form .input-container {
  display: table;
  margin-bottom: 19px;
}

.overlay .pop-up form .input-container > label {
  color: #2c303d;
  font: 700 14px "OpenSans", sans-serif;
  text-transform: uppercase;
  display: table-cell;
  vertical-align: middle;
  padding-right: 17px;
}

.overlay .pop-up form .radio-container {
  display: table-cell;
}

.overlay .pop-up form .radio-item {
  position: relative;
  vertical-align: middle;
  margin-right: 5px;
  margin-bottom: 6px;
  display: inline-block;
}

.overlay .pop-up form .radio-item input[type="radio"].radio-styled {
  display: none;
  box-sizing: border-box;
  padding: 0;
  margin: 2px 0 0;
  line-height: normal;
}

.overlay .pop-up form .radio-item input[type="radio"].radio-styled + label {
  padding-left: 0;
  height: 40px;
  width: 40px;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.overlay .pop-up form .radio-item input[type="radio"]:checked label {
  color: #fff !important;
}

.overlay .pop-up form .radio-item input[type="radio"].radio-styled + label:after {
  content: " ";
  line-height: 40px !important;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  left: 0;
  margin: 0;
  padding: 0;
  font: 700 12px "Open Sans", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute !important;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  height: 42px;
  width: 42px;
  background: url(../img/sprite_buttons.png) -4px -5px no-repeat;
}

.overlay .pop-up form .radio-item input[type="radio"].radio-styled:checked + label:after {
  background-color: rgba(0, 0, 0, 0.72);
  height: 40px;
  width: 40px;
  background-image: none !important;
  color: #fff;
}

.overlay .pop-up form .radio-item input[data-name='xs'] + label:after {
  content: 'xs' !important;
}

.overlay .pop-up form .radio-item input[data-name='s'] + label:after {
  content: 's' !important;
}

.overlay .pop-up form .radio-item input[data-name='m'] + label:after {
  content: 'm' !important;
}

.overlay .pop-up form .radio-item input[data-name='l'] + label:after {
  content: 'l' !important;
}

.overlay .pop-up form button {
  background-color: #8ae6cf;
  color: #2c303d;
  font: 700 14px "Open Sans", sans-serif;
  line-height: 31px;
  text-transform: uppercase;
  border: none;
  position: relative;
  height: 44px;
  width: 214px;
  cursor: pointer;
}

.overlay .pop-up form button:after, .overlay .pop-up form button:before {
  position: absolute;
  content: '';
  height: 60px;
  width: 29px;
  background: url(../img/sprite_formbutton.png) 0 0 no-repeat;
}

.overlay .pop-up form button:after {
  background-position: -10px -18px;
  left: 0;
  top: -2px;
}

.overlay .pop-up form button:before {
  background-position: -47px -19px;
  right: 0px;
  top: -2px;
}

#item701642853695 .product-view {
  background: url("../img/popup1.png") no-repeat;
}

#item701642853696 .product-view {
  background: url("../img/product2.png") no-repeat;
}

#item701642853697 .product-view {
  background: url("../img/product3.png") no-repeat;
}

#item701642853698 .product-view {
  background: url("../img/product4.png") no-repeat;
}

#item701642853699 .product-view {
  background: url("../img/product5.png") no-repeat;
}

#item701642853700 .product-view {
  background: url("../img/product6.png") no-repeat;
}

.share-container {
  margin-top: 36px;
  position: relative;
  margin-left: -5px;
}

.jssocials-shares {
  margin-top: 0;
}

.jssocials-share {
  margin: 0 12px 7px 0 !important;
  height: 42px;
  width: 42px;
}

.jssocials-share-link, .jssocials-share-label {
  font-size: 0;
  line-height: 1 !important;
  text-align: center;
  vertical-align: top;
}

.jssocials-share-link, .share-container .youtube, .share-container .instagram {
  height: 42px;
  width: 42px;
  background: url(../img/sprite_share.png) 0 0 no-repeat;
}

.share-container .youtube, .share-container .instagram {
  margin: 0 12px 7px 0;
}

.share-container .instagram {
  margin-right: 0 !important;
}

.share-container .youtube a, .share-container .instagram a {
  height: 42px;
  width: 42px;
  float: left;
}

.jssocials-share-facebook .jssocials-share-link {
  background-position: 0 0;
}

.jssocials-share-twitter .jssocials-share-link {
  background-position: -57px 0;
}

.jssocials-share-pinterest .jssocials-share-link {
  background-position: -113px 0;
}

.share-container .youtube {
  background-position: -170px 0;
}

.share-container .instagram {
  background-position: -226px 0;
}

.share-container.small {
  display: none;
  margin-top: 42px !important;
}

.share-container.small .jssocials {
  width: auto;
  display: table;
  clear: none;
  float: left;
}

.share-container.small .youtube, .share-container.small .instagram {
  float: left;
}
